body {
  background-color: #0e1111;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  background-color: #2a2a40; /* Lighter than #1e1e1e */
  color: #f0f8ff;            /* Slightly softer white */
  padding: 12px;
  border: 1px solid #444;   /* Lighter border for more contrast */
}

th {
  background-color: #33335a; /* Slightly different shade for headers */
  font-weight: bold;
}

.custom-snackbar {
  background-color: #8181ff !important;
  color: #d4f1f9 !important;
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 191, 255, 0.2);
}

::ng-deep mat-header-cell {
  background-color: #2e2e44 !important;
  color: #f0f8ff !important;
  font-weight: bold;
  font-size: 15px;
}

::ng-deep mat-cell {
  background-color: #1f1f2e !important;
  color: #e0f7fa !important;
  font-size: 14px;
  border-bottom: 1px solid #333;
}

::ng-deep mat-row:hover {
  background-color: #313152 !important;
}

.toolbar-title {
  font-size: 1.5rem; 
  font-weight: 600;
  color: #e0f7fa;

}
